<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap">
    <style type="text/css">
      @import url("observable:styles/index.css");
      * {
        margin-top:0 !important;
      }
      html {
        background-color: #011;
        margin:0;
        padding:0;
        border:0;
      }
      body {
        background-color: #011;
        color: darkslategray;
        max-width: none;
        margin:0;
        padding:0;
        border:0;
      }
      .responsive-container {
        font-size: 1.7vw;
        width: 100vw;
        height: 56.25vw;
        background-color: #122;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 10vw repeat(7, 1fr);
        grid-template-rows: 2vw repeat(7, 1fr);
        gap: 0;
        padding: 1vw;
        overflow-x: auto;
        overflow-y: hidden;
        cursor: default;
      }

      .grid-cell {
        background-color: #122;
        line-height: 1.1em;
        padding: 1vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: left;
        /* text-align-last: right; */
        text-wrap: pretty;
        border: none; /* 1px solid #333; */
        /* min-height: 60px; */
        white-space: pre-line;
        transition: color 2s ease-in-out;
        -o-transition: color 2s ease-in-out;
        -ms-transition: color 2s ease-in-out;
        -moz-transition: color 2s ease-in-out;
        -webkit-transition: color 2s ease-in-out;
      }

      /* .grid-cell:hover {
        color: floralwhite;
      } */

      /* top row */
      .grid-cell:first-child,
      .grid-cell:nth-child(-n+8) {
        border: none;
        font-size: 1vw;
        align-items: left;
        justify-content: center;
        text-align: left;
      }

      /* first column (cells 1, 9, 17, 25, 33, 41, 49, 57) */
      .grid-cell:nth-child(8n+1) {
        border: none;
        font-size: 1vw;
        padding-right: 3vw;
        align-items: right;
        justify-content: center;
        text-align: right;
      }

      /* second row (cells 9-16) */
      .grid-cell:nth-child(n+9):nth-child(-n+16) {
        border-top: none;
      }

      /* 2nd column (cells 2, 10, 18, 26, 34, 42, 50, 58) */
      .grid-cell:nth-child(8n+2) {
        border-left: none;
      }

      /* cells 10-13: remove left and right borders */
      .grid-cell:nth-child(n+10):nth-child(-n+13) {
        border-left: none;
        border-right: none;
      }

      /* cells 15-16: remove left and right borders */
      .grid-cell:nth-child(15),
      .grid-cell:nth-child(16) {
        border-left: none;
        border-right: none;
      }

      .grid-cell:nth-child(n+57) {
        border-bottom: none;
      }

      .grid-cell:nth-child(8n) {
        border-right: none;
      }
    </style>
  </head>
  <body>
    <main></main>
  </body>
</html>
